{% load staticfiles %}

<!-- Sab Moh Maya Hai! #D4RKF0RC3 -->
<html>
	<head>
		<title>Kron</title>
		<link rel="stylesheet" href="{% static 'kronFrame/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'kronFrame/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'kronFrame/style.css' %}" />
	</head>
	<body>
		<div class="header">
			<div class="name">KRON</div>
		</div>
		<div id="printableArea" class="table-container">
			<TABLE class="TimeTable">
				<TR>
					{% for timer in dataSet.times %}
					<TH>{{ timer }}</TH>
					{% endfor %}
				</TR>
				{% for day, day_objs in dataSet.table.items %}
				<TR class='maintain-height'>
					<!--<TD>{{ dataSet.ourDays.day }}</TD> -->
					<TD class="dayskis">{{ day }}</TD>
					{% for slot, slot_obj in day_objs.items %}
					<TD>
						{% if slot_obj %}
							{% for cour in slot_obj %}
								<div class = "{{ cour.woah }}">{{ cour.areaName }}</div>
							{% endfor %}
						{% else %}
							<div></div>
						{% endif %}
					</TD>
					{% endfor %}
				</TR>
				{% endfor %}
			</TABLE>
		</div>
		<div class="selection">
			{% include "kronFrame/selectCourses.html" with dataSet=dataSet only %}
		</div>
		<div class="selection">
			<input type="button" onclick="printDiv('printableArea')" value="Print"/>
			<input type="button" id="btnSave" value="Save PNG"/>
		</div>
		<div class="footer"><div class="footer-text">&copy; Mayank Vachher</div></div>

		<script type="text/javascript" src="{% static 'kronFrame/courseClash.js' %}"></script>
		<script>
			function printDiv(divName) 
			{
     				var printContents = document.getElementById(divName).innerHTML;
				var originalContents = document.body.innerHTML;
				document.body.innerHTML = printContents;
				window.print();
				document.body.innerHTML = originalContents;
			}
		</script>
		<script type="text/javascript" src="{% static 'kronFrame/jQuery.js' %}"></script>
		<script type="text/javascript" src="{% static 'kronFrame/html2Canvas.js' %}"></script>
		<script type="text/javascript" src="{% static 'kronFrame/FileSaver.js' %}"></script>
		<script type="text/javascript">
		$(function() { 
  			 $("#btnSave").click(function() {
  			 	html2canvas($("#printableArea"), {
           				onrendered: function(canvas) {
          		 			theCanvas = canvas;
						canvas.toBlob(function(blob) {
                    					saveAs(blob, "Dashboard.png"); 
                					});
           					}
        				});
    				});
			});
		</script>
	</body>
</html>
