@media screen and (min-width: 720px) {
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 720px) {
	body {
		overflow: auto;
	}
}

body {
	background: #fdfdfd;
}

.header {
	height: 50px;
	background-color: #00B0F0;
}

.name {
	text-align: right;
	padding-top: 5px;
	padding-right: 20px;
	font-size: 28px;
}

.selection {
	margin-top: 3vh;
	width: 100%;
}

.wrap-above {
	margin: 0 auto;
	width: 90%;
}

.selection select {
	width: 15vw;
	margin: 2vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-size: 14px;
}

.subject {
	text-align: left;
	padding-left: 40px;
	font-style: Arial;
}

.wrapper-select {
	display: inline-block;
}

.colorbox1 {
	float: left;
	background-color: rgb(146, 208, 80);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.colorbox2 {
	float: left;
	background-color: rgb(255, 192, 0);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.colorbox3 {
	float: left;
	background-color: rgb(164, 205, 255);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.colorbox4 {
	float: left;
	background-color: rgb(255, 102, 102);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.colorbox5 {
	float: left;
	background-color: rgb(255, 102, 255);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.colorbox6 {
	float: left;
	background-color: rgb(255, 102, 153);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.colorbox7 {
	float: left;
	background-color: rgb(204, 153, 204);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.colorbox8 {
	float: left;
	background-color: rgb(102, 204, 102);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.colorbox9 {
	float: left;
	background-color: rgb(255, 153, 153);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.colorbox10 {
	float: left;
	background-color: rgb(102, 153, 255);
	height: 20px;
	width: 20px;
	margin-left: 15px;
}
.table-container {
	display: inline-block;
	margin-top: 1vh;
	padding-left: 15px;
}
TABLE {
	border-collapse: collapse;
	width: 99vw;
	table-layout: fixed;
}
TH {
	height: 50px;
	text-align: left;
	font-size: 14px;
	position: relative;
	right: 20px;
}
.maintain-height {
	height: 95px;
}
TD {
	border: 1px solid #000;
	border-collapse: collapse;
	text-align: left;
	padding:5px;
	font-size: 9px;
	overflow-y: hidden;
}
.dayskis {
	border: none;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
.footer {
	text-align: right;
	font-size: 12px;
	height: 33px;
	background-color: #00B0F0;
}
.footer-text {
	padding-right: 20px;
	padding-top: 8px;
}